/* index.css */

.login-container {
    height: 100vh;
    background-color: #f9f9f9;
}

.login-box {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

.login-box label {
    font-weight: 500;
    margin-bottom: 10px;
}

.login-box input[type="email"], .login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-box button[type="submit"] {
    background: linear-gradient(90deg, #0d612d 0%, #128a36 50%, #10471e 100%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.login-box button[type="submit"]:hover {
    background: linear-gradient(90deg, #0d612d 0%, #42cc6b 50%, #10471e 100%);
}

.login-box a {
    text-decoration: none;
    color: #337ab7;
}

.login-box a:hover {
    color: #23527c;
}

/* REISTRATION PAGE */
/* styles.css */

.registration-container {
    height: 100vh;
    background-color: #f9f9f9;
    margin: 40px auto;
}

.registration-box {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-box h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

.registration-box label {
    font-weight: 500;
    margin-bottom: 10px;
}

.registration-box input[type="text"], 
.registration-box input[type="email"], 
.registration-box input[type="password"], 
.registration-box select {
    width: 100%;
    padding: 7px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.registration-box button[type="submit"] {
    background: linear-gradient(90deg, #0d612d 0%, #128a36 50%, #10471e 100%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.registration-box button[type="submit"]:hover {
    background: linear-gradient(90deg, #0d612d 0%, #42cc6b 50%, #10471e 100%);
}

.registration-box a {
    text-decoration: none;
    color: #337ab7;
}

.registration-box a:hover {
    color: #23527c;
}

.walletDetailsForm {
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.walletDetailsForm h3 {
    font-weight: 600;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 500;
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-danger {
    background: linear-gradient(90deg, #0d612d 0%, #128a36 50%, #10471e 100%);
    color: #fff;
    border: none;
}

.btn-primary {
    background: linear-gradient(90deg, #337ab7 0%, #23527c 50%, #1a1d23 100%);
    color: #fff;
    border: none;
}

.text-secondary {
    color: #337ab7;
}

.text-secondary:hover {
    color: #23527c;
}

.hidden {
    display: none;
}

.visible {
    display: block;

}